@tailwind base;
@tailwind components;
@tailwind utilities;

@font-face {
  font-family: 'Poppins Light';
  src: url(./assets/fonts/Poppins-Light.ttf);
  font-display: swap;
}
@font-face {
  font-family: 'Poppins Regular';
  src: url(./assets/fonts/Poppins-Regular.ttf);
  font-display: swap;
}
@font-face {
  font-family: 'Poppins Medium';
  src: url(./assets/fonts/Poppins-Medium.ttf);
  font-display: swap;
}
@font-face {
  font-family: 'Poppins Bold';
  src: url(./assets/fonts/Poppins-Bold.ttf);
  font-display: swap;
}
@font-face {
  font-family: 'Poppins Black';
  src: url(./assets/fonts/Poppins-Black.ttf);
  font-display: swap;
}
@font-face {
  font-family: 'Norican Regular';
  src: url('./assets/fonts/Norican-Regular.ttf');
  font-display: swap;
}

html {
  scroll-behavior: smooth;
  -webkit-tap-highlight-color: transparent;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

img,
iframe,
button {
  user-select: none;
  -webkit-user-select: none;
  -moz-user-select: none;
}

h1,
h2,
h3,
h4,
h5,
h6,
b,
strong {
  @apply font-bold text-font-primary;
}

p,
a,
small {
  @apply font-regular text-font-primary;
}
